# Ignore node_modules directory
node_modules/

# Ignore logs and other build artifacts
logs/
dist/
.DS_Store

# Ignore environment-specific files (e.g., .env for environment variables)
.env
.env.local

# Ignore npm lock files
package-lock.json
yarn.lock
