/* styles.css */

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    background-color: #59a4f5;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  nav {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #0056b3;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #004080;
  }
  
  nav a.active {
    font-weight: bold;
    background-color: #0056b3;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #59a4f5;;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  }
  