<!-- laptop-form.component.html -->
<div class="container">
  <h1>{{ isEditMode ? "Edit Laptop" : "Add Laptop" }}</h1>

  <form (ngSubmit)="saveLaptop()">
    <label>Name:</label>
    <input type="text" [(ngModel)]="laptopData.name" name="name" required />

    <label>Brand:</label>
    <input type="text" [(ngModel)]="laptopData.brand" name="brand" required />

    <label>Price:</label>
    <input type="number" [(ngModel)]="laptopData.price" name="price" required />

    <button type="submit">
      {{ isEditMode ? "Update Laptop" : "Add Laptop" }}
    </button>
  </form>
</div>
